# Dependencies
node_modules
package-lock.json

# Build
dist
*.local

# Environment
.env
.env.local
.env.production

# Logs
logs
*.log
npm-debug.log*

# Editor
.DS_Store
.vscode
.idea

# Misc
coverage
.cache
